@import "tailwindcss";

@theme {
  --color-a: #ddd7e0;
  --color-b: #f5ede4;
  --color-c: #e4f5f1;
  --color-d: #e4f2f5;
  --color-e: #e8e4f5;
  --color-ocean: #a9bcd9;

}

html {
  scroll-behavior: smooth;
}