@import "tailwindcss";

@theme {
  --color-petal: #feeafa;
  --color-lilac: #dee2ff;
  --color-cream: #efd3d7;
  --color-purplegrey: #cbc0d3;
  --color-bluegrey: #8e9aaf;
  --color-ocean: #a9bcd9;

}

html {
  scroll-behavior: smooth;
}