@import "tailwindcss";

@theme {
  --color-light-pink: #f4e2ea;
  --color-rosewood: #af7491;
  --color-raspberry: #773957;
  --color-mauve-brown: #634A45;
  --color-plum-brown: #0f0c3c;
  --color-ocean: #a9bcd9;

}

html {
  scroll-behavior: smooth;
}